electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/çç
public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*@univerjs/*